.header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 4em;
    width: 100%;
    height: 100px;

}

.side-bar{
    width: 10%;
    height: 300px;
    background-color: red;
    float: left;
}

.main-content{
    background-color: wheat;
    width: 90%;
    height: 300px;
    float: right;
}

.footer{
    background-color: rgb(19, 19, 163);
    width: 100%;
    height: 50px;
    clear: both;
    text-align: center;
}