body {
    background-color: lightsalmon;
}

.done {
    text-decoration: line-through;
}

.importance{
    position: absolute;
    right: 400px;
}

.time-stamp{
    position: absolute;
    right: 100px;
}
.btn-delete {
    border: 0;
    border-radius: 50%;
    background-color: rgb(122, 55, 55);
    cursor: pointer;
    float:right;
}

.btn-delete:hover {
    background-color: brown;
    color:white;
}

.btn-delete:active {
    background-color: red;

}

.add-todo-container {
    background-color: chocolate;
    padding: 10px;
}

h1 {
    color: chocolate;
}

header {
    text-align: center;
}