body {background-color: black; color:white}

.cell {width:40px; height:40px;text-align: center}
.cell img {width:25px; height:auto}
.floor {background-color: gray}
.wall {background-color: brown}

.game-over-modal{
    background-color: gray;
    color: aqua;
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center; 
    display: none;    
}



